.table>tbody>tr>td, .table>tbody>tr>th{
	padding:1px;
}
th{
	width: 20px;
}
td{
	width: 30px;
}
input{
	width:50px;
}
#score{
	width:35px;
}
#name{
	width:60px;
}
.col-md-2, .playerImage, .playground{
	padding-top:15px;
	vertical-align:middle;
	text-align:center;
	display:inline-block;
	height:100px;
}
.playground{
	width: 80%;
}
.playerInfo{
	width: 80%;
}
.combo{
	width:50px;
}
.marked{
	border: 2px solid #021a40;
	border-radius: 5px;
	padding:0px;
}
.chosen{
	color:black;
}
.unchosen{
	color:red;
}
@media screen and (min-width: 1200px){
    .col-xl-2, .playerImage, .playground{
		padding-top:15px;
		padding-left: 15px;
		vertical-align:middle;
		text-align: center;
		display:inline-block;
		height:100px;
	}
	
	.combo{
		width: 100px;
	}
} 
